#intelliJ

.idea
*.iml

.DS_Store

npm_debug.log

# IntelliJ hot deploy
build
deployment

.gradle

out/

.gradle/
test.gradle
gradle/caches/
gradle/daemon/
gradle/native/
gradle/wrapper/dists/

bin/

jsonschemas/

#eclipse
.settings
.project
.classpath

# introducing kubectl installation, for ICP dev and test, substitute PLATFORM to amd64
DevDockerfile
DevRhelDockerfile

version.*
!/WebContent/WEB-INF/version.txt
/src/com/ibm/cloud/lands/migration/
!/WebContent/WEB-INF/migration/
/WebContent/WEB-INF/migration/Helm/test1.md

logs/

log/
src/main/webapp/**/*
!src/main/webapp/WEB-INF/web.xml
*.dmp
*.trc
javacore.*
heapdump.*

.vscode/

# Bulk Test resources
/bulk*
/test/resources/bulk/*
/collectionArchiveExport*
/TA_bulkExport*
/target*